:root {
    --font-paytone-one: "Paytone One", sans-serif;
    --font-poopins: "Poppins", sans-serif;
    --font-2P: "Press Start 2P", system-ui;
    --contrast-color: #00FF7E;
    --contrast-color-hover: #06d46d;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--background-color);
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: hidden;
}

h1 {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
}