:root {
    --font-paytone-one: "Paytone One", sans-serif;
    --font-poopins: "Poppins", sans-serif;
    --main-color: #121214;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--main-color);
}

h1 {
    color: #fff;
}