.home-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer";
  grid-template-columns: 250px 1fr; /* Sidebar aberto */
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  transition: grid-template-columns 0.3s ease-in-out;
  position: relative; /* Adiciona posição relativa ao container */
}

.home-container.sidebar-closed {
  grid-template-columns: 0 1fr; /* Sidebar fechado */
}

.content {
  grid-area: content;
  padding: 20px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  background-color: #121214;
  transition: padding 0.3s ease-in-out; /* Transição suave do conteúdo */
}

.header {
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.sidebar {
  position: fixed; /* Sidebar na posição fixa para não afetar o fluxo do layout */
  top: 0;
  left: 0;
  width: 250px; /* Largura do sidebar */
  height: 100vh; /* Altura total */
  background-color: #f4f4f4; /* Cor de fundo do sidebar */
  transition: transform 0.3s ease-in-out; /* Transição suave ao abrir/fechar */
  z-index: 1001; /* Garante que está acima do conteúdo */
  transform: translateX(-100%); /* Sidebar inicialmente fora da tela */
}

.sidebar-open {
  transform: translateX(0); /* Move o sidebar para dentro da tela */
}

/* Estilo da barra de rolagem geral */
.content::-webkit-scrollbar {
  width: 10px;
}

/* Cor de fundo da barra de rolagem */
.content::-webkit-scrollbar-track {
  background: #121214;
}

/* Cor do "polegar" da barra de rolagem */
.content::-webkit-scrollbar-thumb {
  background-color: #00FF7E;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

/* Efeito ao passar o mouse sobre a barra de rolagem */
.content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media (max-width: 991px) {
  .sidebar {
    /* Mantenha a definição do sidebar fixa acima */
    position: fixed; /* Sidebar permanece fixa */
    top: 0;
    left: 0;
    height: 100vh; /* Altura total */
    z-index: 1001; /* Certifique-se de que está acima do conteúdo */
    transform: translateX(-100%); /* Começa fora da tela */
  }

  .sidebar-open {
    transform: translateX(0); /* Move o sidebar para dentro da tela */
  }

  .content {
    pointer-events: auto; /* Permite a interação com o conteúdo */
    transition: opacity 0.3s ease-in-out;
  }

  .content-shifted {
    pointer-events: none; /* Desabilita a interação com o conteúdo quando o sidebar está aberto */
    opacity: 0.5; /* Deixa o conteúdo um pouco mais opaco para indicar que está desabilitado */
  }
}
